.plusButton{
    margin-left: 180px;
}
.container{
    margin:20px;
    align-items: center;
    justify-content: center;
}
.card-body{
    background-color: #f0eeeb;
}
.buttons{
    text-align: center;
}
.price{
    font-weight: bold;
    padding-left: 80px;
    margin-bottom: 30px;
}
.card{
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}