.plusButton{
    margin-left: 180px;
}
.container{
    margin:20px;
    align-items: center;
    justify-content: center;
}
.card-body{
    background-color: #a4e8d0;
}
.buttons{
    text-align: center;
}
.price{
    font-weight: bold;
    padding-left: 80px;
    margin-bottom: 30px;
}
.card{
    border: 2px solid rgb(158, 158, 158);
    box-shadow: 0 4px 8px rgba(27, 14, 14, 0.444);
}
.margin{
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 60px;
}
